/* styles/home.css */

.home-page {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  
  .home-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .home-description {
    font-size: 16px;
    color: #666;
  }
  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .image-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  
  .image-item {
    margin: 10px;
    list-style: none;
  }
  
  .imagenesNasa {
    object-fit: cover;
    border-radius: 50%;
    width: 150px; /* Ajusta el tamaño según sea necesario */
    height: 150px; /* Ajusta el tamaño según sea necesario */
  }
  